<h4 class="center-align">Liste des candidats</h4>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>

<!-- <mat-card> -->
  <mat-accordion class="accordion">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="search"></mat-icon> Recherche
        </mat-panel-title>
        <mat-panel-description>
          Cliquez pour accéder à la zone de recherche.
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form [formGroup]="candidatesListForm" class="candidate-form" (ngSubmit)="onSubmit($event)">
        <mat-form-field class="formField">
          <input matInput placeholder="Prénom" type="text" name="firstname" formControlName="firstname">
        </mat-form-field>

        <mat-form-field class="formField">
          <input matInput placeholder="Nom" type="text" name="lastname" formControlName="lastname" >
        </mat-form-field>

        <mat-form-field class="formField">
          <input matInput placeholder="Email" type="email" name="email" formControlName="email">
        </mat-form-field>

        <mat-form-field class="formField">
          <input matInput placeholder="Tél. Mobile" type="text" name="cellPhone" formControlName="cellPhone">
        </mat-form-field>

        <mat-form-field class="formField">
          <input matInput placeholder="Tél. Fix" type="text" name="homePhone" formControlName="homePhone">
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" class="example-button-row">Rechercher</button>
        <button mat-raised-button color="default" class="example-button-row" (click)="onReset($event)">Remise à zéro</button>
      </form>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon svgIcon="add"></mat-icon> Ajouter un candidat
        </mat-panel-title>
        <mat-panel-description>
          Cliquez pour accéder à l'ajout de candidat.
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-candidate-form></app-candidate-form>
    </mat-expansion-panel>
  </mat-accordion>


<!-- </mat-card> -->

<div class="card row">
  <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource; else loading" (matSortChange)="sortData($event)">

    <!-- Gender Column -->
    <ng-container matColumnDef="sexCandidate">
      <th mat-header-cell *matHeaderCellDef>Sexe </th>
      <td mat-cell *matCellDef="let candidate" >{{ candidate.sex }} </td>
    </ng-container>

    <!-- Firstname Column -->
    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef class="sortedHeader" mat-sort-header="firstname" > Prénom</th>
      <td mat-cell *matCellDef="let candidate"><a [routerLink]='"/candidate/" + candidate.id' title="Accèder au dossier"> {{ candidate.firstname }}</a> </td>
    </ng-container>

    <!-- Lastname Column -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef class="sortedHeader center-align" mat-sort-header="lastname" >Nom</th>
      <td mat-cell *matCellDef="let candidate"> <a [routerLink]='"/candidate/" + candidate.id' title="Accèder au dossier">{{ candidate.lastname }}</a> </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let candidate"> <a [routerLink]='"/candidate/" + candidate.id' title="Accèder au dossier">{{ candidate.email }}</a> </td>
    </ng-container>

    <!-- Cell Phone Column -->
    <ng-container matColumnDef="cellPhone">
      <th mat-header-cell *matHeaderCellDef>Tél. Mobile</th>
      <td mat-cell *matCellDef="let candidate">{{ candidate.cellPhone }}</td>
    </ng-container>

    <!-- Home Phone Column -->
    <ng-container matColumnDef="homePhone">
      <th mat-header-cell *matHeaderCellDef>Tél. Fix</th>
      <td mat-cell *matCellDef="let candidate">{{ candidate.homePhone }}</td>
    </ng-container>

    <!-- Ranking Column -->
    <ng-container matColumnDef="rankingCandidate">
      <th mat-header-cell *matHeaderCellDef>Rang</th>
      <td mat-cell *matCellDef="let candidate">{{ candidate.ranking }}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="statusCandidate">
      <th mat-header-cell *matHeaderCellDef> Statut</th>
      <td mat-cell *matCellDef="let candidate" class="left-align">{{ candidate.status }}</td>
    </ng-container>

    <!-- Actions Column -->
    <!-- <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let candidate">
        <a [routerLink]='"/candidate/" + candidate.id' title="Voir le dossier"><mat-icon svgIcon="show" class="actions actionShow"></mat-icon></a>
        <a [routerLink]='"/candidate/" + candidate.id + "/edit"'  title="Editer le dossier"><mat-icon svgIcon="edit" class="actions actionEdit"></mat-icon></a>
        <a title="Supprimer le candidat" (click)="onDelete(candidate)"><mat-icon svgIcon="delete" class="actions actionDelete"></mat-icon></a>
      </td>
    </ng-container> -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let candidate">
        <a [routerLink]='"/candidate/" + candidate.id' title="Voir le dossier" class="actions actionShow"><i class="small material-icons">account_box</i></a>
        <a [routerLink]='"/candidate/" + candidate.id + "/edit"'  title="Editer le dossier" class="actions actionEdit"><i class="small material-icons">mode_edit</i></a>
        <a title="Supprimer le candidat" (click)="onDelete(candidate)" class="actions actionDelete"><i class="small material-icons">delete_forever</i></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="resultNb"
                 [pageSize]="candidatesListForm.controls['size'].value"
                 [pageSizeOptions]="[20, 50, 100]"
                 [pageIndex]="candidatesListForm.controls['page'].value"
                 (page)="pageEvent($event)">
  </mat-paginator>
</div>
