<ng-container *ngIf="company">
    <h2>{{ company.name}}</h2>
    <mat-card class="infos">
        <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile>
              <mat-list>
                <mat-list-item class="address" >Adresse:</mat-list-item>
                <mat-list-item >{{company.address_id.street}}</mat-list-item>
                <mat-list-item >{{company.address_id.postalCode}} {{company.address_id.city}}</mat-list-item>
              </mat-list>
            </mat-grid-tile>
            <mat-grid-tile class="div-contact">
              <mat-list>
                <mat-list-item class="contact" >Contact:</mat-list-item>
                <mat-list-item >Tel mobile: {{company.name}}</mat-list-item>
                <mat-list-item >Tel fixe: {{company.name}}</mat-list-item>
                <mat-list-item >Email: {{company.name}}</mat-list-item>
              </mat-list>
            </mat-grid-tile>
          </mat-grid-list>
    </mat-card>
  </ng-container>
