<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Informations du test</mat-card-title>
    </mat-card-header>

    <mat-form-field>
      <mat-label>Catégorie</mat-label>
      <mat-select  formControlName="category" placeholder="Choisir une catégorie" required>
        <mat-option value="Culture générale">Culture générale</mat-option>
        <mat-option value="Culture numérique">Culture numérique</mat-option>
        <mat-option value="Mathématiques">Mathématiques</mat-option>
        <mat-option value="Logique">Logique</mat-option>
      </mat-select>
      <mat-hint align="end"></mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date de mise à jour</mat-label>
      <input matInput [matDatepicker]="uPicker" formControlName="updatingDate" placeholder="Choisir une date" required>
      <mat-datepicker-toggle matSuffix [for]="uPicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #uPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Score</mat-label>
      <input type="number" matInput formControlName="score" min="0" max="20" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date de validation</mat-label>
      <input matInput [matDatepicker]="vPicker" formControlName="validationDate" placeholder="Choisir une date" required>
      <mat-datepicker-toggle matSuffix [for]="vPicker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #vPicker></mat-datepicker>
    </mat-form-field>

    <mat-card class="actions">
      <input type="submit" [value]="isNew ? 'Créer' : 'Modifier'">
    </mat-card>
  </mat-card>

</form>
