<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Informations personnelles</mat-card-title>
    </mat-card-header>

    <mat-form-field>
      <mat-select formControlName="sexCandidate" placeholder="Selectionnez une civilité">
        <mat-option value="-">-</mat-option>
        <mat-option value="Mr">Mr</mat-option>
        <mat-option value="Mme">Me</mat-option>
      </mat-select>
      <mat-hint align="end"></mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nom</mat-label>
      <mat-error *ngIf="lastname.invalid">Ce champ est requis</mat-error>
      <input type="text" matInput formControlName="lastname" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prénom</mat-label>
      <mat-error *ngIf="firstname.invalid">Ce champ est requis</mat-error>
      <input type="text" matInput formControlName="firstname" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <mat-error *ngIf="email.invalid">Ce champ est requis</mat-error>
      <input type="text" matInput formControlName="email" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tél. mobile</mat-label>
      <mat-error *ngIf="cellPhone.invalid">Ce champ est requis</mat-error>
      <input type="text" matInput formControlName="cellPhone" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tél. fixe</mat-label>
      <input type="text" matInput formControlName="homePhone">
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Autre</mat-card-title>
    </mat-card-header>

    <mat-form-field>
      <mat-label>Rang</mat-label>
      <select formControlName="rankingCandidate" matNativeControl>
        <option value="0 - statut non déterminé">0 - statut non déterminé</option>
        <option value="1 - tout est ok">1 - tout est ok</option>
        <option value="2 - ok sauf documents à revoir">2 - ok sauf documents à revoir</option>
        <option value="3 - pas mal de choses à revoir">3 - pas mal de choses à revoir</option>
        <option value="4 - ne correspond pas au poste">4 - ne correspond pas au poste</option>
      </select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Statut</mat-label>
      <select formControlName="statusCandidate" matNativeControl>
        <option value="Aucune action effectuée">Aucune action effectuée</option>
        <option value="Appel téléphonique effectué">Appel téléphonique effectué</option>
        <option value="Rendez-vous physique effectué">Rendez-vous physique effectué</option>
        <option value="A rappeler">A rappeler</option>
        <option value="Annoncer résultats">Annoncer résultats</option>
        <option value="Recherche entreprise">Recherche entreprise</option>
        <option value="En poste">En poste</option>
        <option value="En formation">En formation</option>
        <option value="Abandon">Abandon</option>
      </select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Commentaire</mat-label>
      <textarea matInput formControlName="commentary" placeholder="Textarea"></textarea>
    </mat-form-field>
  </mat-card>

  <mat-card class="actions">
    <input type="submit" [value]="isNew ? 'Créer' : 'Modifier'" [disabled]="form.invalid">
  </mat-card>

</form>
