<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <mat-error *ngIf="name.invalid">Ce champ est requis</mat-error>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Antenne</mat-label>
      <input type="text" matInput formControlName="antennaName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Numéro de siret</mat-label>
      <mat-error *ngIf="siret.invalid">
        <ng-container *ngIf="siret.errors['required']">Champs requis</ng-container>
        <ng-container *ngIf="siret.errors['pattern']">Doit contenir 14 chiffres (espaces accéptés)</ng-container>
      </mat-error>
      <input type="text" matInput formControlName="siret">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Code APE</mat-label>
      <input type="text" matInput formControlName="apeCode">
    </mat-form-field>

    <input type="submit" [value]="isNew ? 'Créer' : 'Modifier'" [disabled]="form.invalid">

    <button *ngIf="isNew; else other" routerLink="home"></button>
    <ng-template #other>
        <button  routerLink="/company"></button>
    </ng-template>
  </form>
</mat-card>
