#login,
#logout {
  cursor: pointer;
  font-size: 0.8em;
}

#login {
  color: green;
}

#logout {
  color: red;
}

.icon {
  position: relative;
  top: 7px;
  margin-left: 5px;
}

a,
a:visited {
  text-decoration: none;
}
