<footer class="page-footer blue lighten-2">
  <div class="container">
    <div class="row">
      <!-- <div class="col l4 s12">
        <h5 class="white-text">Equipe</h5>
      </div> -->
      <div class="">
        <p class="white-text text-align">Equipe:</p>
        <!-- <p>Thomas Rousseau - Vianney Rousselot - Clément Bouchereau</p> -->
        <ul>
          <li>Thomas Rousseau</li>
          <li>Vianney Rousselot</li>
          <li>Clément Bouchereau</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="footer-copyright row">
    <div class="container col l4 offset-l2 s12">
      © 2019 Copyright
    </div>
    <div class="links">
      <a class="grey-text text-lighten-4 col l3 offset-l1 s12" href="https://www.apside.com/">Apside</a>
      <a class="grey-text text-lighten-4 col l3 offset-l1 s12" href="http://www.tactfactory.com/">TACTfactory</a>
    </div>
  </div>
</footer>
