<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Informations</mat-card-title>
      </mat-card-header>

      <mat-form-field>
        <mat-label>Date</mat-label>
        <input matInput type="datetime-local" placeholder="Date et Heure">
      </mat-form-field>

    <br>

      <mat-form-field>
        <mat-label>Type</mat-label>
          <mat-select formControlName="type" placeholder="Type de rendez-vous">
            <mat-option value="téléphonique">Téléphonique</mat-option>
            <mat-option value="physique">Physique</mat-option>
            <mat-option value="Skype">Skype</mat-option>
            <mat-option value="physique avec tests">Physique avec tests</mat-option>
          </mat-select>
        <mat-hint align="end"></mat-hint>
      </mat-form-field>

    <br>

      <mat-form-field>
        <mat-label>Organisateur/trice</mat-label>
        <input type="text" matInput formControlName="organizer">
    </mat-form-field>

    <br>

      <mat-form-field>
        <mat-label>Personnes</mat-label>
        <input type="text" matInput formControlName="persons">
      </mat-form-field>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Adresse</mat-card-title>
      </mat-card-header>

      <app-address formControlName="address"></app-address>
    </mat-card>

    <mat-card class="actions">
      <input type="submit" [value]="isNew ? 'Créer' : 'Modifier'" [disabled]="form.invalid">
    </mat-card>
    <mat-card> <a mat-button routerLink="/appointment/list">Retour à la liste</a></mat-card>

  </form>
