table {
  width: 100%;
}

th.mat-header-cell{
  text-align: center;
}
td.mat-cell{
  text-align: center;
}

th {
  padding: 0 20px 0 0;
}

.mat-form-field {
  width: 100%;
}

mat-card {
  margin: 0 0 20px 0;
}

.candidate-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.formField {
  width: 100%;
}

.actions {
  cursor: pointer;
  transition: all, 0.3s;
}

.actions:hover {
  transform: scale(1.2);
}

.actionShow:hover {
  color: green;
}

.actionEdit:hover {
  color: orange;
}

.actionDelete:hover {
  color: red;
}
