#homepage {
/* background-color: #CFD8DC; */
max-width: 950px;
margin: auto;
padding: 15px;
}

a {
  color:inherit;
  text-decoration: inherit;
}

h3 {
  color:#9e9e9e;
}

.panel>div {
  /* Should add rules for specific browsers. */
  display: flex;
  cursor: pointer;
  width: 200px;
  height: 200px;
  margin: 20px;
  font-size: 2em;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 10px;
  flex-grow: 1;
  background-color: #5D99C6;
  box-shadow: 10px 10px 5px grey;
}

mat-card {
  color: #5e5e5e;
  font-size: 1.6em;
  padding: 15px 0 !important;

}

mat-card:hover {
  color: white;
  background-color: #64B5F6;
  cursor: pointer;
}



