<div id="homepage" class="row">
  <mat-card class="card col s12 center-align" routerLink="../candidate/list"><p>Candidats</p></mat-card>
  <mat-card class="card col s12 center-align" routerLink="../company/list"><p>Entreprises</p></mat-card>
  <mat-card class="card col s12 center-align" routerLink="../appointment"><p>Rendez-vous</p></mat-card>
  <mat-card class="card col s12 center-align" routerLink="../contact/list"><p>Contacts</p></mat-card>
<!--  <mat-card class="card col s12 center-align admin" routerLink="../adminpanel" *ngIf="!last || user.admin"><p class="red-text">Administration</p></mat-card>-->
</div>
