<!-- <div id="homepage"> -->
  <div id="homepage" class="row">
    <div class="card col s12 center-align"><h3><a routerLink="../candidate/list">Candidats</a></h3></div>
    <div class="card col s12 center-align"><h3><a routerLink="../company/list">Entreprises</a></h3></div>
    <div class="card col s12 center-align"><h3><a routerLink="../appointment">Rendez-vous</a></h3></div>
    <div class="card col s12 center-align"><h3 class="red-text"><a routerLink="../adminpanel" *ngIf="!last || user.admin">Administration</a></h3></div>
  </div>
<!-- </div> -->
