<ng-container *ngIf="candidate">
  <h2>{{ candidate.sexCandidate }} {{candidate.firstname}} {{candidate.lastname}}</h2>
  <p class="status">Statut actuel: {{ candidate.statusCandidate }}</p>
  <mat-card class="infos">
      <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile>
            <mat-list>
              <mat-list-item class="address" >Adresse:</mat-list-item>
              <mat-list-item >{{candidate.address_id.street}}</mat-list-item>
              <mat-list-item >{{candidate.address_id.postalCode}} {{candidate.address_id.city}}</mat-list-item>
            </mat-list>
          </mat-grid-tile>
          <mat-grid-tile class="div-contact">
            <mat-list>
              <mat-list-item class="contact" >Contact:</mat-list-item>
              <mat-list-item >Tel mobile: {{candidate.homePhone}}</mat-list-item>
              <mat-list-item >Tel fixe: {{candidate.cellPhone}}</mat-list-item>
              <mat-list-item >Email: {{candidate.email}}</mat-list-item>
            </mat-list>
          </mat-grid-tile>
        </mat-grid-list>
  </mat-card>

  <mat-tab-group>
    <mat-tab label="Diplômes et matières maitrîsées">
      <mat-card class="detailsCard1">
        <h2>Ses diplômes</h2>
        <table>
          <tr>
            <th>Intitulé</th>
            <th>Niveau</th>
            <th>Date d'obtention</th>
          </tr>
          <tr *ngFor="let degree of candidate.degrees">
            <td>{{ degree.name }}</td>
            <td>{{ degree.level }}</td>
            <td>{{ degree.validation_date }}</td>
          </tr>
        </table>
        <h2>Les matières maitrisées</h2>
        <ul>
          <li *ngFor="let matter of candidate.matters">{{ matter.name }}</li>
        </ul>
      </mat-card>
    </mat-tab>

    <mat-tab label="Session(s)">
        <h3>Ses sessions de formation</h3>
        <div *ngIf="actualSession; else noSession">
          <p>{{actualSession.name}} ({{actualSession.startDate | date : "dd-MM-y"}} au {{actualSession.endDate | date : "dd-MM-y"}})</p>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Voir les autres sessions
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngIf="this.candidate.sessions.length > 1">
              <p *ngFor="let session of this.candidate.sessions ">
                {{session.name}}
              </p>
            </ng-container>
          </mat-expansion-panel>
        </div>
        <ng-template #noSession>Aucune session actuellement</ng-template>
      </mat-tab>

    <mat-tab label="Rendez-vous">
      <mat-card>
        <h2>Ses Rendez-vous:</h2>
        <table>
          <tr>
            <th>Date du rendez-vous</th>
            <th>Lieu</th>
            <th>Type du rendez-vous</th>
            <th>Organisateur</th>
          </tr>
          <tr>
            <td>11/05/2019</td>
            <td>TactFactory</td>
            <td>Rendez-vous physique</td>
            <td>Mickaël Gaillard</td>
          </tr>
        </table>
      </mat-card>
    </mat-tab>
    <mat-tab label="Informations complémentaires">

     <h2>Situation actuelle</h2>
     <table>
       <tr>
         <th>Dernière mise à jour</th>
         <th>Type du contrat</th>
         <th>Durée du contrat (mois)</th>
         <th>Commentaire (nom de l'entreprise)</th>
       </tr>
       <tr>
         <td>{{ candidate.feedback_id.updated_at }}</td>
         <td>{{ candidate.feedback_id.typeOfContract }}</td>
         <td>{{ candidate.feedback_id.durationOfContract }}</td>
         <td>{{ candidate.feedback_id.comment }}</td>
       </tr>
     </table>
     <div>
        <ul>
          <li>Avis sur le candidat: {{ candidate.rankingCandidate }}</li>
          <li>Commentaire: {{ candidate.commentary }}</li>
          <!-- <li>Statut actuel: {{ candidate.statusCandidate }}</li> -->
       </ul>
     </div>
    </mat-tab>

  </mat-tab-group>
</ng-container>
