<ng-container *ngIf="candidate">
  <h2>{{ candidate.sexCandidate }} {{candidate.firstname}} {{candidate.lastname}}</h2>
  <a mat-button routerLink="/candidat/list">Retour à la liste</a>
  <p class="status">Statut actuel: {{ candidate.statusCandidate }}</p>

  <div class="card row z-depth-1">
    <div class="col s5 offset-s1">
      <mat-list>
        <mat-list-item class="address" >Adresse:</mat-list-item>
        <mat-list-item >{{candidate.address.street}}</mat-list-item>
        <mat-list-item >{{candidate.address.postalCode}} {{candidate.address.city}}</mat-list-item>
      </mat-list>
    </div>
    <div class="col s5 offset-s1">
      <mat-list>
        <mat-list-item class="contact" >Contact:</mat-list-item>
        <mat-list-item >Tel mobile: {{candidate.homePhone}}</mat-list-item>
        <mat-list-item >Tel fixe: {{candidate.cellPhone}}</mat-list-item>
        <mat-list-item >Email: {{candidate.email}}</mat-list-item>
      </mat-list>
    </div>
  </div>

  <mat-tab-group>
    <mat-tab label="Diplômes et matières maitrîsées"  class="left-align">
      <mat-card class="detailsCard1">
        <h3  class="left-align">Ses diplômes</h3>
        <table>
          <tr>
            <th>Intitulé</th>
            <th>Niveau</th>
            <th>Date d'obtention</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let degree of candidate.degrees; index as index">
            <td>{{ degree.name }}</td>
            <td>{{ degree.level }}</td>
            <td>{{ degree.validationDate }}</td>
            <td>
              <a title="Supprimer le diplôme" (click)="onDeleteDegree(index)">
                <mat-icon svgIcon="delete" class="actions actionDelete"></mat-icon>
              </a>
            </td>
          </tr>
        </table>

          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon svgIcon="add"></mat-icon> Ajouter un diplôme
                </mat-panel-title>
                <mat-panel-description>
                  Cliquez pour ajouter
                </mat-panel-description>
              </mat-expansion-panel-header>

              <app-degree-form></app-degree-form>
            </mat-expansion-panel>
          </mat-accordion>

        <h3 class="left-align">Les matières maitrisées</h3>
        <ul>
          <li *ngFor="let aMatter of candidate.matters; index as index">{{ aMatter.matter.name }} <a title="Supprimer la matière" (click)="onDeleteMatter(aMatter.id, index)">
            <mat-icon svgIcon="delete" class="actions actionDelete"></mat-icon></a></li>
        </ul>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon svgIcon="add"></mat-icon> Ajouter une matière
              </mat-panel-title>
              <mat-panel-description>
                Cliquez pour ajouter
              </mat-panel-description>
            </mat-expansion-panel-header>

            <app-matter-form [candidate]="candidate" (create)="addAcquiredMatter($event)"></app-matter-form>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </mat-tab>

    <mat-tab label="Session(s)">
        <h3 class="left-align">Ses sessions de formation</h3>
        <div *ngIf="actualSession; else noSession">
          <p>Sa dernière session est {{actualSession.name}}</p>
          <p>Elle se déroule du {{actualSession.startDate | date:'mediumDate' }} au {{actualSession.endDate | date:'mediumDate' }}</p>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Voir les autres sessions
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngIf="this.candidate.companySession.length > 1">
              <p *ngFor="let session of this.candidate.companySession ">
                {{session.name}}
              </p>
            </ng-container>
          </mat-expansion-panel>
        </div>
        <ng-template #noSession>Aucune session actuellement</ng-template>
      </mat-tab>

    <mat-tab label="Rendez-vous">
      <mat-card class="rdv">
        <h3 class="left-align">Ses Rendez-vous</h3>
        <table>
          <tr>
            <th>Date du rendez-vous</th>
            <th>Statut</th>
            <th>Type du rendez-vous</th>
            <th>Organisateur</th>
          </tr>
          <tr *ngFor="let appointment of candidate.appointments">
            <td>{{ appointment.appointmentDate}}</td>
            <td>{{ appointment.status }}</td>
            <td>{{ appointment.appointmentType }}</td>
            <td>{{ appointment.organizer.firstname }} {{ appointment.organizer.lastname }}</td>
          </tr>
        </table>
      </mat-card>
    </mat-tab>

    <mat-tab label="Tests">
      <mat-card>
        <h2>Tests réalisés</h2>
        <table>
          <tr>
            <th>Thème</th>
            <th>Score</th>
            <th>Date de validation</th>
            <th>Action</th>
          </tr>
          <tr *ngFor="let assessment of candidate.assessments; index as index">
            <td>{{ assessment.category }}</td>
            <td>{{ assessment.score }}</td>
            <td>{{ assessment.validationDate|date:'mediumDate' }}</td>
            <td>
              <a title="Supprimer le diplôme" (click)="onDeleteAssessment(index)">
                <mat-icon svgIcon="delete" class="actions actionDelete"></mat-icon>
              </a>
            </td>
          </tr>
        </table>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon svgIcon="add"></mat-icon> Ajouter un test
              </mat-panel-title>
              <mat-panel-description>
                Cliquez pour ajouter
              </mat-panel-description>
            </mat-expansion-panel-header>

            <app-assessment-form></app-assessment-form>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </mat-tab>

    <mat-tab label="Informations complémentaires">
     <h3 class="left-align">Situation actuelle</h3>
     <table>
       <tr>
         <th>Dernière mise à jour</th>
         <th>Type du contrat</th>
         <th>Durée du contrat (mois)</th>
         <th>Commentaire (nom de l'entreprise)</th>
       </tr>
       <tr>
         <td>{{ candidate.feedback.updatedAt }}</td>
         <td>{{ candidate.feedback.typeOfContract }}</td>
         <td>{{ candidate.feedback.durationOfContract }}</td>
         <td>{{ candidate.feedback.comment }}</td>
       </tr>
     </table>
     <div>
        <h3 class="left-align">Infos supplémentaires</h3>
         <ul>
           <li>Avis sur le candidat: {{ candidate.ranking }}</li>
           <li>Commentaire: {{ candidate.commentary }}</li>
           <!-- <li>Statut actuel: {{ candidate.statusCandidate }}</li> -->
        </ul>
      </div>
    </mat-tab>

  </mat-tab-group>
</ng-container>
